<?xml version="1.0" encoding="utf-8"?>
<config>
    <double name="gui_scale">0.860000014305115</double>
    <rect name="window_position">
        <xmin>788</xmin>
        <xmax>1132</xmax>
        <ymin>184.99</ymin>
        <ymax>535.01</ymax>
    </rect>
    <bool name="drawHudIcon">1</bool>
    <bool name="allowAutoPortTargeting">1</bool>
    <bool name="excludeDockedPorts">1</bool>
    <bool name="showHUDIconWhileEva">0</bool>
</config>